@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #24292d;
  text-align: center;
}

header {
  background: url(../images/mountain.jpg) center no-repeat;
  background-size: cover;
  /*To make our header the height of our browser window, whichever size it may be, we use 100vh - or viewport height. We also have vw - which is viewport width*/
  height: 100vh;
}

h1 {
  /*Position absolute allows us to move an element away from its normal position*/
  position: absolute;
  /*To move the logo into the middle of the page, first set top 50% and left 50%. We then need to adjust the positioning as elements are moved from their top-left co-ordinates*/
  top: 50%;
  left: 50%;
  /*To get the imge into the middle, we need to move it half of its width and half of its height. Check your image size and adjust accordingly*/
  margin: -132px 0 0 -250px;

}

header a {
  position: absolute;
  bottom: 40px;
}


.intro {
  background-color: #e0e3e6;
  padding: 50px;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.feature {
  padding: 60px;
  max-width: 860px;
  margin: 0 auto;
}

p {
  margin-bottom: 20px;
}

.feature a {
  display: block;
  margin-bottom: 20px

}

#blue-lagoon {
  background-image: url(../images/blue-lagoon.jpg);
}

#pool {
  background-image: url(../images/pool.jpg)
}

#forest {
  background-image: url(../images/forest.jpg)
}

#boat {
  background-image: url(../images/boat.jpg);
}

#river {
  background-image: url(../images/river.jpg);
}

.scroll-effect {
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
  /*create window scroll-effect where images look fixed in place and scroll over one another*/
  background-attachment: fixed;
  position: relative;
}

h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 300;
  /*Position absolute and position fixed, when applied to elements defaults their position to the top of the browser window, to change this we need to say where we want to position these elements relative to. Here we want to position them within their sections, so must apply position: relative to the scroll-effect class.*/
  position: absolute;
  bottom: 20px;
  /*when using position absolute or fixed, we lose the default width of our elements. To get text-align center working again, we reset the width to 100% of our browser.*/
  width: 100%;

}

.subscribe {
  background-color: #f3f4f5;
  padding: 50px 0;
}

form {
  width: 100%;
}

input {
  width: 60%;
  padding: 8px;
  border: 2px solid #24292d;
  margin: 10px 0;
  outline: none;
  text-align: center;
  /*Transitions allow us to animate css properties. Here we want the border colour to gradually change from grey to green. You must apply the transition property to the normal state. Transitions take 3 values, the property you want to change(border color), the duration adn the timing-function (i.e easing) */
  /*If transitioning more than one property at a time, use 'all' to transition all changes between states*/
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: #16b898;
}

/*Make sure there are no spaces between input and the square brackets*/
input[type="submit"] {
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #16b898;
  color: #16b898;
  width: 62%;
}

footer {
  padding: 40px 0;
  font-size: 12px;
  font-weight: 300;
  color: #e0e3e6;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: #e0e3e6;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #16b898;
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
/*Reset the h1 to sit where it was originally found, within the flow of the page*/
  h1 {
    position: static;
    /*Need to remove the Margins*/
    margin: 0;
    padding: 20px;
  }

  .feature, .intro, .subscribe {
    padding: 20px;
  }
input {
  width: 80%;
}
input[type="submit"]:hover {
  width:85%
}
}
